body {
  margin: 0;
}

.container {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.remoteCamerasContainer {
  list-style: none;
  position: absolute;
  bottom: 0;
  left: 0;
  height: max-content;
  display: flex;
  background-color: rgb(121, 73, 73);
  padding: 1rem;
  cursor: move;
}

.remoteCamerasContainer > li {
  margin: 0.2rem;
  padding: 1rem;
  background-color: #fff;
  border: 1px solid #000;
}

.img-btn {
  display: inline-block;
  z-index: 11;
  height: 2.5rem;
  width: 2.5rem;
  background: #808080;
  border: none;
  outline: none;
  border-radius: 50px;
  padding: 7px 8px;
  cursor: pointer;
  margin: 4px 2px;
}

.img-btn:hover {
  background-color: #969494;
}

.display-none {
  display: none;
}
